			

</div>
	</main>

	<footer>
		<div class=" col-4 col-s-4 information">
			<h1>INFORMATION</h1>
			<ul>
		    	<li><a href="#">About Us</a></li>
			 	<li><a href="#">Customer Service</a></li>
			  	<li><a href="#">Template Settings</a></li>
			  	<li><a href="#">Privacy Policy</a></li>
			  	<li><a href="#">Site Map</a></li>
			  	<li><a href="#">Blog</a></li>
			  	<li><a href="#">Search Terms</a></li>
			  	<li><a href="#">Advanced Search</a></li>
			  	<li><a href="#">Orders and Returns</a></li>
			  	<li><a href="#">Contact Us</a></li>
		  	</ul>
		</div>
		<div class=" col-4 col-s-4 why-by-from-us">
			<h1>WHY BUY FROM US</h1>
			<ul>
		    	<li><a href="#">Shipping & Returns</a></li>
			 	<li><a href="#">Secure Shopping</a></li>
			  	<li><a href="#">International Shipping</a></li>
			  	<li><a href="#">Affiliates</a></li>
			  	<li><a href="#">Group Sales</a></li>
		  	</ul>
		</div>
		<div class=" col-4 col-s-4 my-account">
			<h1>MY ACCOUNT</h1>
			<ul>
		    	<li><a href="#">Sign In</a></li>
			 	<li><a href="#">View Cart</a></li>
			  	<li><a href="#">My Wishlist</a></li>
			  	<li><a href="#">Track My Order</a></li>
			  	<li><a href="#">Help</a></li>
		  	</ul>
		</div>
	</footer>

	<script src="/javascripts/script.js"></script>
</body>
</html>