<div class="slideshow-container">
	<div class="mySlides fade">
		<img src="../images/img1.jpg" alt="">
	</div>
	<div class="mySlides fade">
		<img src="../images/img2.jpg" alt="">
	</div>
	<div class="mySlides fade">
		<img src="../images/img3.jpg" alt="">
	</div>
	<div class="dots" style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>
</div>