<% include ../partials/headerAdmin %>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h1>Add Product</h1>
                    <% if (hasErrors) { %>
                        <div class="alert alert-danger">
                            <% messages.forEach( function(element) { %>
                                <p><%= element %></p>
                            <% }); %>
                        </div>
                    <% } %>
                    <form action="/add-product" method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="imagepath">Image Path</label>
                            <input type="text" class="form-control" id="imagepath" name="imagepath">
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" name="category">
                              <option value="">--Select--</option>
                              <option value="business">Business</option>
                              <option value="children">Children</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" id="price" name="price">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        

<% include ../partials/footerAdmin %>
    