<% include ../partials/header %>

    <div class="form">
        <h2>Check Out</h2>
        <h4>Your Total: $<%= total %></h4>
        <hr>
        <p class="infro-form">Please enter the information.</p>
        <form action="/checkout" method="post">
          <label for="name">Name</label><span class="require">*</span>
          <input type="text" id="name" name="name">
          <label for="address">Address</label><span class="require">*</span>
          <input type="address" id="address" name="address">
          <div><span class="require float-right">* Required Fields</span></div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="row" type="submit">Check Out</button>
        </form>
    </div>

<% include ../partials/footer %>