<% include ../partials/header %>


<div class="form">
	<% if (hasErrors) { %>
	    <div class="alert-danger">
	        <% messages.forEach( function(element) { %>
	            <p class="alert-danger"><%= element %></p>
	        <% }); %>
	    </div>
	<% } %>
	<h2>Register</h2>
    <hr>
	<form action="/users/signup" method="post">
      <label for="email">Email</label><span class="require">*</span>
      <input type="text" id="email" name="email">
      <label for="password">Password</label><span class="require">*</span>
      <input type="password" id="password" name="password">
      <div><span class="require float-right">* Required Fields</span></div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="row" type="submit">Register</button>
  	</form>
</div>

<% include ../partials/footer %>