<% include ../partials/header %>


<div class="form">
	<% if (hasErrors) { %>
	    <div class="alert-danger">
	        <% messages.forEach( function(element) { %>
	            <p class="alert-danger"><%= element %></p>
	        <% }); %>
	    </div>
	<% } %>
	<h2>Login</h2>
    <hr>
    <p class="infro-form">If you have an account with us, please log in.</p>
	<form action="/users/signin" method="post">
      <label for="email">Email</label><span class="require">*</span>
      <input type="text" id="email" name="email">
      <label for="password">Password</label><span class="require">*</span>
      <input type="password" id="password" name="password">
      <div><span class="require float-right">* Required Fields</span></div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="row" type="submit">Login</button>
  	</form>
  	<p class="singup-instead">Don't have any account? <a href="/users/signup">Sign up instead!</a></p>
</div>

<% include ../partials/footer %>